main {
    .main-container {
        &__loginform {
            background-color: rgba($color: #ffffff, $alpha: 0.6);
            height: 550px;
           margin:220px  640px;           
            width: 360px;
            @include text-border-3px;
            @include translate;
            &-logo {
                margin:40px;
                @include translate;
                &-img {
                    height: 120px;
                    max-height: 60px;
                    width: 560px;
                }
            }
            &-error {
                position: absolute;
                    top: 60%;
                    left: 12%;
                p {
                    font-size: small;
                    color: red;
                    font-weight: bold;
                }
            }
            &-username {
                p {
                    font-size: 85%;
                   margin: 196px 40px 420px 516px;
                   width: 85px;
                   height: 24px;
                   font-family: Meiryo;
                   font-size: 16px;
                   font-weight: bold;
                   font-stretch: normal;
                   font-style: normal;
                   line-height: 1.5;
                   letter-spacing: normal;
                   text-align: left;
                   color: #707070;
                    }
                &-input {
                    color: rgba($color: #464646, $alpha: 1.0);
                    font-size: 110%;
                    margin: 231px 40px 377px 40px;
                        width: 560px;
                        height: 32px;
                        border-radius: 4px;
                        background-color: #ffffff;
                    @include text-border-3px;
                    @include translate;
                }
            }
            &-password {
                p {
                    font-size: 85%;
                    margin: 295px 40px 321px 520px;
                }
                &-input {
                    font-size: 110%;
                    width: 560px;
                    height: 32px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    margin: 329px 40px 279px 40px;
                    @include text-border-3px;
                    @include translate;
                }
            }
            &-forgot {
                position: absolute;
                    left: 60%;
                    bottom: 80px;
                &-a {
                    color: rgba($color: #423aad, $alpha: 1.0);
                    font-size: 85%;
                    text-decoration: none;
                }
                :hover {
                    color: rgba($color: #e6d7d7, $alpha: 1.0);
                }
            }
            &-submit {
                &-button {
                    background-color: rgba($color: #20569e, $alpha: 1.0);
                    border-style: none;
                    cursor : pointer;
                    color: #ffffff;
                    font-size: 110%;
                    height: 42px;
                    position: absolute;
                        left: 50%;
                        top: 375px;
                    width: 80%;
                    @include button-hover--flortUp;
                    @include text-border-25px;
                    @include translate;
                }
                :focus {
                    outline: 0;
                }
                :active {
                    background-color:#69c;
                    color:#e0ebf5;
                    -moz-box-shadow:inset 0px 0px 2px #3a6da0;
                    -webkit-box-shadow:inset 0px 0px 8px #334c66;
                    box-shadow:inset 0px 0px 2px #3a6da0;
                }
            }
            &-line {
                &-img {
                    position: absolute;
                        left: 0;
                        bottom: 100px;
                    width: 100%;
                }
            }
            &-check {
                width: 20px;
                height: 20px;
                margin: 377px 40px 580px 243px;
                border-radius: 4px;
                border: solid 1px #707070;
                background-color: #ffffff;
                input {
                    size: 3px;
                }
                label {
                    font-size: x-small;
                }
            }
        }
    }
}