main {
    .main-container {
        &__loginform {
            background-color: rgba($color: #ffffff, $alpha: 0.6);
            height: 640px;
            margin-top: 22vh;
            position: absolute;
            left: 50%;
            top: 50vh;
            width: 640px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            @include text-border-3px;
            @include translate;
            &-logo {
                position: absolute;
                left: 50%;
                top: 90px;
                @include translate;
                &-img {
                    height: 120px;
                    width: 550px;
                }
            }
            &-error {
                position: absolute;
                top: 165px;
                left: 40px;
                p {
                    font-size: 16px;
                    font-family: Meiryo;
                    color: red;
                    font-weight: bold;
                }
            }
            &-username {
                p {
                    font-size: medium;
                    position: absolute;
                    left: 7%;
                    top: 231px;
                    color: #707070;
                }
                &-input {
                    color: rgba($color: #464646, $alpha: 1);
                    font-size: 110%;
                    height: 28px;
                    position: absolute;
                    left: 50%;
                    top: 267px;
                    width: 85%;
                    @include text-border-3px;
                    @include translate;
                }
                ::placeholder {
                    font-size: 16px;
                }
            }
            &-password {
                p {
                    font-size: medium;
                    position: absolute;
                    left: 7%;
                    top: 331px;
                    color: #707070;
                }
                &-input {
                    font-size: 110%;
                    height: 28px;
                    position: absolute;
                    left: 50%;
                    top: 367px;
                    width: 85%;
                    @include text-border-3px;
                    @include translate;
                }
            }
            &-forgot {
                position: absolute;
                left: 70%;
                bottom: 60px;
                &-a {
                    color: rgba($color: #423aad, $alpha: 1);
                    font-size: 85%;
                    text-decoration: none;
                }
                :hover {
                    color: rgba($color: #1101f5, $alpha: 1);
                }
            }
            &-submit {
                &-button {
                    background-color: rgba($color: #20569e, $alpha: 1);
                    border-style: none;
                    cursor: pointer;
                    color: #ffffff;
                    font-size: 110%;
                    height: 40px;
                    position: absolute;
                    left: 50%;
                    top: 475px;
                    width: 80%;
                    @include button-hover--flortUp;
                    @include text-border-25px;
                    @include translate;
                }
                :focus {
                    outline: 0;
                }
                :active {
                    background-color: #69c;
                    color: #e0ebf5;
                    -moz-box-shadow: inset 0px 0px 2px #3a6da0;
                    -webkit-box-shadow: inset 0px 0px 8px #334c66;
                    box-shadow: inset 0px 0px 2px #3a6da0;
                }
            }
            &-line {
                &-img {
                    position: absolute;
                    left: 0;
                    bottom: 100px;
                    width: 100%;
                }
            }
            &-check {
                position: absolute;
                top: 390px;
                left: 10%;
                input {
                    size: 15px;
                }
                label {
                    font-size: medium;
                }
            }
        }
    }
}
