<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/topstyle.css}">
    <title>[[${title}]]</title>
</head>

<body>

    <!-- プライマリーメニュー -->
    <ul class="primary-container__navi-student">
        <li><a href="/index/sample1">テスト</a></li>
        <li><a href="/index/sample2">講座検索</a></li>
        <li><a href="/index/sample3">受講中講座</a></li>
        <li><a href="/index/sample4">未受験テスト一覧</a></li>
        <li><a href="/index/sample5">テスト結果一覧</a></li>
    </ul>


    <!-- セカンダリーメニュー -->
    <div class="seconderymenu">
    <div class="user">
    <!-- ユーザー名表示 -->
    [[${name}]]</br> 
        <span class="popup">
        <!-- プロフリンク -->
            <a class="profile" href="/admin/userprofile">プロフィール</a>
        <!-- ログアウトボタン -->
            <form action="#" th:action="@{/logout}" method="post">
                <input class="b_logout" type="submit" value="ログアウト" />
            </form>
        </span>
    </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="main">
        日報閲覧
    </div>

    <!-- フッター -->
    <footer class="footer">&copy;</footer>

</body>
</html>