.secondry-wrapper {
    .secondry-container {
        &__navi {
            background-color: rgba($color: #29292b, $alpha: 1.0);
            height: 36px;
            position: absolute;
                top: 0;
            width: 100%;
            z-index: 1;
            &-ul {
                position: absolute;
                    right: 0;
                    top: 12px;
                list-style: none;
                a{
                    color: rgba($color: #ffffff, $alpha: 1.0);
                }
                li {
                    text-align: right;
                    margin: 0;
                    a {
                        text-decoration: none;
                    }
                }
                &-2 {
                    background-color: rgba($color: #29292b, $alpha: 1.0);
                    display: none;
                    margin: 0;
                    li{
                        list-style: none;
                    }

                    input{
                        background-color: rgba($color: #29292b, $alpha: 1.0);
                        color: rgba($color: #ffffff, $alpha: 1.0);
                        border-style: none;
                        list-style: none;
                        font-size: medium;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}