main {
    .main-editprofile-wrapper {
        background-color: rgba($color: #fbf9f9, $alpha: 1);
        font-family: "Open Sans", sans-serif;
        height: calc(100vh - 72px);
        line-height: 1.25;
        position: absolute;
        left: 200px;
        top: 36px;
        width: calc(100% - 200px);
        z-index: 0;
        overflow: auto;
        .main-editprofile-container {
            background-color: var(--white);
            position: absolute;
            left: 50%;
            top: 50%;
            width: 97%;
            height: 95%;
            @include translate;
            h2 {
                width: 354px;
                height: 47px;
                background-color: #efe8e8;
                font-family: Meiryo;
                font-size: 32px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #615d5d;
            }
            &__profimage {
                margin-top: 20px;
                margin-left: 20px;
                width: 80px;
                height: 80px;
                object-fit: contain;
                float: left;
                img {
                    width: 80px;
                    height: auto;
                }
            }
            &__imageupload {
                position: absolute;
                left: 10px;
                top: 180px;
                label {
                    color: #ffffff;
                    background-color: #2ca9f9;
                    padding: 6px 17px;
                    border-radius: 20px;
                    cursor: pointer;
                    input[type="file"] {
                        display: none;
                        opacity: 0;
                        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    }
                }
            }
            &__table {
                margin-top: 20px;
                margin-left: 100px;
                table {
                    border-spacing: 30px 20px;
                    table-layout: auto;
                    tr {
                        border-bottom: 2px solid #fff;

                        th {
                            font-size: 0.85em;
                            width: 200px;
                        }
                        td {
                            input {
                                background-color: #ffffff;
                                width: 300px;
                            }
                        }
                    }
                }
            }
            &__button {
                margin-top: 20px;
                margin-left: 3%;
                position: absolute;
                left: 300px;
                input {
                    text-align: center;
                    cursor: pointer;
                    line-height: 1em;
                    transition: 0.3s;
                    background-color: #20569e;
                    color: #ffff;
                    border: 1px solid rgba($color: #d7d7e4, $alpha: 1);
                    padding: 6px 36px;
                    border-radius: 20px;
                }
                input:hover {
                    opacity: 0.5;
                }
                a {
                    margin-top: -20px;
                    margin-left: 50px;
                    transition: 0.3s;
                    font-size: small;
                    border: 1px solid rgba($color: #d7d7e4, $alpha: 1);
                    text-decoration: none;
                    background-color: #2ca9f9;
                    color: #ffff;
                    padding: 6px 36px;
                    border-radius: 20px;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
