main {
    .main-edituserData-wrapper {
        background-color: rgba($color: #d7d7e4, $alpha: 1.0);
        font-family: "Open Sans", sans-serif;
        height: calc(100vh - 72px);
        line-height: 1.25;
        position: absolute;
            left: 240px;
            top: 36px;
        width: calc(100% - 240px);
        z-index: 0;
        .main-edituserData-container {
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            position: absolute;
                left: 50%;
                top: 50%;
            width: 95%;
            height: 95%;
            @include translate;
            &__table {
                margin-top: 30px;
                margin-left: 20px;
                table {
                    border-collapse: separate;
                    table-layout: auto;
                    tr {
                        border-bottom: 2px solid #fff;
                        th,td {
                            border-right: 2px solid #fff;
                            height: 25px;
                        }
                        th {
                            background-color: #a7c7e6;
                            font-size: .85em;
                            width: 200px;
                        }
                        td {
                            text-align: center;
                            width: 310px;
                            background-color: #e6f2f5;
                            input {
                                width: 300px;
                            }
                            select {
                                width: 301px;
                            }
                        }
                    }
                }
            }
            &__button {
                margin-top: 20px;
                margin-left: 3%;
                button {
                    text-align: center;
                    cursor: pointer;
                    line-height: 1em;
                    transition: .3s;
                    background: rgba($color: #d7d7e4, $alpha: 1.0);
                    color: black;
                    border: 1px solid rgba($color: #d7d7e4, $alpha: 1.0);
                    padding: 5px 5px;
                }
                button:hover {
                    background: white;
                    color: rgba($color: #d7d7e4, $alpha: 1.0);
                }
                a {
                    margin-top: -20px;
                    margin-left: 50px;
                    transition: .3s;
                    font-size: small;
                    border: 1px solid rgba($color: #d7d7e4, $alpha: 1.0);
                    text-decoration: none;
                    background: rgba($color: #d7d7e4, $alpha: 1.0);
                    color: black;
                    padding: 1px 2px;
                }
                a:hover {
                    background: white;
                    color: rgba($color: #d7d7e4, $alpha: 1.0);
                }
            }
        }
    }
}