main {
    .main-top-wrapper {
        background-color: rgba($color: #d7d7e4, $alpha: 1.0);
        height: calc(100vh - 72px);
            // max-height: 800px;
            // min-height: 400px;
        position: absolute;
            left: 240px;
            top: 36px;
        width: calc(100% - 240px);
        z-index: 0;
    }
    .main-top-container {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        position: absolute;
            left: 50%;
            top: 50%;
        width: 95%;
        height: 95%;
        @include translate;
    }
}